<div class = "homePage">

    <div class="content">

        <div class="firstContainer">

            
            <div class="mainHeader">

                <img src="assets/logo.png" />

                

                <ul id="header_menu">

                    
                    
                    <li><a href="#">About</a></li>
                    <li><a href="#">Self Regulation & Policies                    </a></li>
                    <li><a href="#">Communication</a></li>
                    <li><a href="#">Membership and Participation</a></li>
                    <li><a href="#">Reports</a></li>
                    <li>
                        <button mat-stroked-button disableRipple=true>Join our mailing list</button>
                    </li>
                  </ul>

                  

            </div>
           

            <h1>Welcome to the <br>Clean Software Alliance</h1>
            <h4>The Clean Software Alliance (CSA) champions sustainable, consumer-friendly practices within the software ecosystem</h4>
           <span class="joinUs"> <button mat-stroked-button disableRipple=true>Join Us</button></span>
            <img src="assets/group.png" id="group"/>



        </div>


        <div class="secondContainer"> </div>

        <div class="thirdContainer"> </div>

        <div class="fourthContainer"> </div>

        <div class="fifthContainer"> </div>


        <div class="sixthContainer"> </div>


        <div class="seventhContainer">
          <app-newsletter></app-newsletter>
        </div>


        <div class="footer">

                <div class="row">
                  <div class="col-3">
                    <img src="assets/footer_logo.png" srcset="assets/footer_logo@2x.png 2x,assets/footer_logo@3x.png 3x"class="footer_logo">
                    <p class="copyright">Copyright © 2020 CSA Clean Software Alliance Inc. All rights reserved.</p>

                  </div>
                    <div class="col-3">
                            <div class="divider_footer"></div>
                            <p class="enquiry">Enquires</p>
                            <p class="enq_des">info@cleansoftware.net</p>
                    </div>
                  <div class="col-3">

                    <div class="divider_footer1"></div>
                    <p class="termsCondition">Terms of Service<br>
                        Privacy Policy<br>
                        Contact Us</p>
                  </div>
                  <div class="col-3">

                    <div class="divider_footer2"></div>
                    <p class="Social">Social</p>
                    <img src="assets/group-9.svg" class="Group-9">
                    <img src="assets/group-10.svg" class="Group-10">
                    <img src="assets/group-11.svg" class="Group-11">
                    <span class="newsletter"><button mat-stroked-button disableRipple=true>Subscribe to our Newsletter</button></span>
                  </div>
                </div>
        
        </div>

    </div>

</div>
