
<div class="Newsletter">

    
        <mat-button-toggle-group>
          <mat-button-toggle disableRipple=true>Subscribe</mat-button-toggle>
          <mat-button-toggle disableRipple=true>Enquire</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="line"></div>

        <div class="row">
            <div class="col-3">
                <h1>Get occasional updates on news, events and opportunities.</h1>
            </div>
            <div class="col-3">
                <p>
                    <mat-form-field appearance="outline">
                      <!-- <mat-label>Enter Email</mat-label> -->
                      <input matInput placeholder="Enter Email">
                    </mat-form-field>
                </p>
                <button mat-stroked-button disableRipple=true>Subscribe</button>
                <span id="termsandCondition">
                <p>By submiting you agree with the Terms & Condition and Privacy Policy</p></span>

            </div>
            <div class="col-3">
                <img src="assets/newsletter-bg.png" srcset="assets/newsletter-bg@2x.png 2x, assets/newsletter-bg@3x.png 3x" class="newsletter-bg">
            </div>
        </div>
      
</div>



